[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
black = "*"
openai = "*"
pinecone-client = "*"
streamlit = "*"
streamlit-chat = "*"
python-dotenv = "*"
langchain-openai = "*"
langchain-pinecone = "*"
beautifulsoup4 = "*"
unstructured = "*"
pypdf = "*"
urllib3 = "*"

[dev-packages]

[requires]
python_version = "3.12"
